:root {
  --color_mine-shaft-base: #242424;
  --color_white-base: #fff;
  --color_chartreuse-base: #9bff00;
  --color_turquoise-base: #5cdba6;
  --color_picton-blue-base: #4ba5e4;
  --color_cod-gray-base: #111;
  --color-gray: gray;
  /* COLOR */
  --color-border: var(--color_mine-shaft-base);
  --color-text: var(--color_white-base);
  --color-primary: var(--color_chartreuse-base);
  --color-primary2: var(--color_turquoise-base);
  --color-primary3: var(--color_picton-blue-base);
  --color-background: var(--color_cod-gray-base);
  --color-link: var(--color_picton-blue-base);
  --color-skeleton-bg: rgb(0 0 0 / 0.12);
  --color-modal-bg: rgb(0 0 0 / 0.9);
  --color-star: #f6b87e;
  /* UNIT */
  --unit: 15px;
  /* MARGIN */
  --margin-extra-extra-small: calc(var(--unit) - 12.5px);
  --margin-extra-small: calc(var(--unit) - 10px);
  --margin-small: var(--unit);
  --margin-middle: calc(var(--unit) * 2);
  --margin-large: calc(var(--unit) * 3);
  --margin-extra-large: calc(var(--unit) * 4);
  /* PADDING */
  --padding-extra-extra-small: calc(var(--unit) - 12.5px);
  --padding-extra-small: calc(var(--unit) - 10px);
  --padding-small: var(--unit);
  --padding-middle: calc(var(--unit) * 2);
  --padding-large: calc(var(--unit) * 3);
  --padding-extra-large: calc(var(--unit) * 4);
  /* FONT-SIZE */
  --text-extra-small: 14px;
  --text-small: 16px;
  --text-middle: 18px;
  --text-large: 24px;
  --text-extra-large: 30px;
  --text-extra-extra-large: 50px;
  /* CONTAINER WIDTH */
  --container-small: 360px;
  --container-middle: 760px;
  --container-large: 1100px;
  --container-extra-large: 1400px;
  /* ICON */
  --icon-width-extra-small: 10px;
  --icon-height-extra-small: 10px;
  --icon-width-small: 20px;
  --icon-height-small: 20px;
  --icon-width-middle: 25px;
  --icon-height-middle: 25px;
  --icon-width-large: 30px;
  --icon-height-large: 30px;
  /* BORDER-RADIUS */
  --radius: 5px;
  --border-radius-extra-small: var(--radius);
  --border-radius-small: calc(var(--radius) * 2);
  --border-radius-middle: calc(var(--radius) * 3);
}
:root.light-theme {
  --color-background: var(--color_white-base);
  --color-text: var(--color_cod-gray-base);
}
:root.dark-theme {
  --color-background: var(--color_cod-gray-base);
  --color-text: var(--color_white-base);
}
