* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--color-background);
  /* font-size: 24px; */
  font-size: 24px;
  /* font-size: calc((100vw - 480px) / (1280 - 480) * (24 - 16) + 16px); */
  color: var(--color-text);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-top: var(--margin-middle);
}

.title {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: var(--margin-middle);
  margin-bottom: var(--margin-extra-small);
}

select {
  /* font-size: 24px; */
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-text);
  padding: 2px 26px 2px 6px;
  cursor: pointer;
  color: var(--color-text);
}

select option {
  background-color: var(--color-text);
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
