:root {
  --color_mine-shaft: #242424;
  --color_white: #fff;
  --color_chartreuse: #9bff00;
  --color_picton-blue: #4ba5e4;
  --color_cod-gray: #111111;

  /*  */
  /*  */

  --color-border: #242424;
  --color-text: #fff;
  --color-primary2: #9bff00;
  --color-background: #111111;
  --color-primary: #4ba5e4;

  --border-color: '';

  --margin-small: 15px;
  --margin-small: 15px;
  --margin-middle: 30px;
  --margin-large: 45px;

  --text-extra-small: 14px;
  --text-small: 16px;
  --text-middle: 18px;
  --text-large: 20px;
  --text-extra-large: 22px;
  --text-extra-exstra-large: 24px;
}
