:root {
  --color_mine-shaft-base: #242424;
  --color_white-base: #fff;
  --color_chartreuse-base: #9bff00;
  --color_picton-blue-base: #4ba5e4;
  --color_cod-gray-base: #111111;
/* 5cdba6 */
  --color-border: var(--color_mine-shaft-base);
  --color-text: var(--color_white-base);
  --color-primary: var(--color_chartreuse-base);
  --color-background: var(--color_cod-gray-base);
  --color-primary: var(--color_picton-blue-base);
  --color-link: var(--color_picton-blue-base);
  --color-contrast: var(--color_picton-blue-base);

  --unit: 15px;

  --margin-extra-small: calc(var(--unit) - 10px);
  --margin-small: var(--unit);
  --margin-middle: calc(var(--unit) * 2);
  --margin-large: calc(var(--unit) * 3);

  --padding-extra-small: calc(var(--unit) - 10px);
  --padding-small: var(--unit);
  --padding-middle: calc(var(--unit) * 2);
  --padding-large: calc(var(--unit) * 3);

  --text-extra-small: 14px;
  --text-small: 16px;
  --text-middle: 18px;
  --text-large: 20px;
  --text-extra-large: 22px;
  --text-extra-extra-large: 24px;

  --container-small: 360px;
  --container-middle: 760px;
  --container-large: 1100px;
  --container-extra-large: 1400px;
  /* width-icon, height-icon; */
}
