:root {
  --color_mine-shaft-base: #242424;
  --color_white-base: #fff;
  --color_chartreuse-base: #9bff00;
  --color_turquoise-base: #5cdba6;
  --color_picton-blue-base: #4ba5e4;
  --color_cod-gray-base: #111;
  --color-gray: gray;
  /* COLOR */
  --color-border: var(--color_mine-shaft-base);
  --color-text: var(--color_white-base);
  --color-primary: var(--color_chartreuse-base);
  --color-primary2: var(--color_turquoise-base);
  --color-primary3: var(--color_picton-blue-base);
  --color-background: var(--color_cod-gray-base);
  --color-link: var(--color_picton-blue-base);
  --color-skeleton-bg: rgb(0 0 0 / 0.12);
  --color-modal-bg: rgb(0 0 0 / 0.9);
  --color-star: #f6b87e;
  /* UNIT */
  --unit: 5px;
  /* z-index */
  --z-index-hidden: -1;
  --z-index-base: 1;
  --z-index-overlay: 2;
  --z-index-modal: 3;
  --z-index-dropdown: 4;
  --z-index-tooltip: 5;
  --z-index-topmost: 9999;
  /* FONT-SIZE */
  --text-extra-small: 14px;
  --text-small: 16px;
  --text-middle: 18px;
  --text-large: 24px;
  --text-extra-large: 30px;
  --text-extra-extra-large: 50px;
  /* CONTAINER WIDTH */
  --container-small: 360px;
  --container-middle: 760px;
  --container-large: 1100px;
  --container-extra-large: 1400px;
  /* ICON */
  --icon-width-extra-small: 10px;
  --icon-height-extra-small: 10px;
  --icon-width-small: 20px;
  --icon-height-small: 20px;
  --icon-width-middle: 25px;
  --icon-height-middle: 25px;
  --icon-width-large: 30px;
  --icon-height-large: 30px;
  /* BORDER-RADIUS */
  --radius: 5px;
  --border-radius-middle: calc(var(--radius) * 3);
  --border-radius-small: calc(var(--radius) * 2);
  --border-radius-extra-small: var(--radius);
  /* Border */
  --border-width: 3px;
  --border-width-small: 2px;
  --border-width-extra-small: 1px;
  /* Width */
  --width-compare-tools: 800px;
  --width-auth: 400px;
  --width-ratin-item-category: 200px;
  --width-header: 115px;
  --width-change-theme: 70px;
  --icon-size: 24px;
  /* Height */
  --height-compare-tools: 500px;
  --height-menu-list: 100px;
  --height-logo-mobile: 30px;
  --height-table-item: 25px;
  /* Transition */
  --transition-skeleton: 1.5s;
  --transition-main: 0.5s;
  --transition-small: 0.3s;
}
:root.light-theme {
  --color-background: var(--color_white-base);
  --color-text: var(--color_cod-gray-base);
  --color-border: #e3e3e3;
}
:root.dark-theme {
  --color-background: var(--color_cod-gray-base);
  --color-text: var(--color_white-base);
}
