:root {
  --color-mine-shaft-base: #242424;
  --color-white-base: #fff;
  --color-chartreuse-base: #9bff00;
  --color-turquoise-base: #5cdba6;
  --color-picton-blue-base: #4ba5e4;
  --color-cod-gray-base: #111;
  --color-gray: gray;
  /* COLOR */
  --color-border: var(--color-mine-shaft-base);
  --color-text: var(--color-white-base);
  --color-primary: var(--color-picton-blue-base);
  --color-background: var(--color-cod-gray-base);
  --color-link: var(--color-picton-blue-base);
  --color-skeleton-bg: rgb(0 0 0 / 12%);
  --color-modal-bg: rgb(0 0 0 / 70%);
  --color-star: #f6b87e;
  --color-danger: tomato;
  /* UNIT */
  --unit: 5px;
  /* z-index */
  --z-index-hidden: -1;
  --z-index-base: 1;
  --z-index-overlay: 2;
  --z-index-modal: 3;
  --z-index-dropdown: 4;
  --z-index-tooltip: 5;
  --z-index-topmost: 9999;
  /* FONT-SIZE */
  --text-extra-small: 14px;
  --text-small: 16px;
  --text-middle: 18px;
  --text-large: 24px;
  --text-extra-large: 30px;
  --text-extra-extra-large: 50px;
  /* ICON */
  --icon-size-small: 18px;
  --icon-size: 24px;
  --icon-size-large: 30px;
  /* BORDER-RADIUS */
  --radius: 5px;
  --border-radius-middle: calc(var(--radius) * 2);
  --border-radius-large: calc(var(--radius) * 3);
  /* Border */
  --border-width-extra-small: 1px;
  --border-width-small: 2px;
  --border-width: 3px;
  /* Width */
  --width-change-theme: 70px;
  --width-header: 115px;
  --width-ratin-item-category: 200px;
  --width-auth: 400px;
  --width-compare-tools: 800px;
  --max-width-title: 300px;
  /* Height */
  --height-header: 70px;
  --height-table-item: 25px;
  --height-menu-list: 100px;
  --height-logo-mobile: 30px;
  --height-compare-tools: 500px;
  --max-height-chart: 1000px;
  /* Transition */
  --transition-main: 0.5s;
  --transition-small: 0.3s;
  --transition-skeleton: 1.5s;
}
:root.light-theme {
  --color-background: var(--color-white-base);
  --color-text: var(--color-cod-gray-base);
  --color-border: #e3e3e3;
}
:root.dark-theme {
  --color-background: var(--color-cod-gray-base);
  --color-text: var(--color-white-base);
}
