/*
#242424
#9bff00
#111111 
#4ba5e4

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Hind Siliguri', sans-serif;
  background: #111111;
  font-size: 24px;
  color: #fff;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 15px;
}

.header__inner {
  padding: 15px 0;
  display: flex;
  border-bottom: 5px solid #242424;
  /* justify-content: space-between; */
}

.header__nav {
}

.header__link {
  text-decoration: none;
  color: inherit;
  padding: 0 15px;
}

.main {
  margin-top: 30px;
}

.title {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.filters__selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters__inner {
  padding: 15px;
  /* background: #1c1c25; */
  border: 5px solid #242424;
  border-radius: 15px;
  margin-bottom: 45px;
}

.list__column {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.list__column-item {
  /* color: #5cdba6; */
  color: #585858;
  font-weight: 700;
  cursor: pointer;
}

.list__column-item,
.list-rows__item {
  min-width: 80px;
  width: 35%;
  /* text-align: center; */
}

.list__column-item_count,
.list-rows__item_count {
  min-width: 80px;
  width: 10%;
}

.list-rows__item_category {
  /* background: #4ba5e4; */
}

.list__item {
  /* background: #1c1c25; */
  margin: 15px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid #242424;

  border-radius: 15px;
}

select {
  font-weight: 200;
  font-size: 24px;
  background-color: transparent;
  border: solid #fff;
  border-width: 0 0 1px;
  margin-left: 10px;
  border-radius: 0;
  padding: 2px 26px 2px 6px;
  line-height: 1.2;
  /* appearance: none; */
  cursor: pointer;
  color: #fff;
}

.select-container {
  position: relative;
}

select option {
  background-color: #fff;
  color: #000;
}

.filters__search-input {
  width: 100%;
  border: 2px solid #e2e2e2;
  background-color: transparent;
  line-height: 2;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: 200;
  color: #fff;
  font-size: 20px;
  transition: all 0.25s;
}

.empty-list {
  width: 100%;
  font-size: 56px;
  text-align: center;
  color: #242424;
  margin-top: 120px;
}

.background-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.technology-comparison {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.technology-comparison__innner {
  background: #111111;
  max-width: 800px;
  max-height: 500px;
  padding: 50px;
}

/* 

.title {
}
.header__logo-text {
}
.filter {
}
.filter__item {
}
.list {
}
.list__item {
}
.list__item-img {
}
.list__item-title {
}
.list__item-category {
}
.list__item-count {
}
.list__item-chart {
}

.category {
  display: flex;
  width: 100%;
}

.category span {
  width: 25%;
}

.category1 {
  background: #ff00ff;
}
.category2 {
  background: #ffff00;
}
.category3 {
  background: #ff9900;
}
.category4 {
  background: #ea4335;
}
.category5 {
  background: #00ff00;
}
.category6 {
  background: #00ffff;
}
.category7 {
  background: #b6d7a8;
}
.category8 {
  background: #46bdc6;
}
.category9 {
  background: #9900ff;
}
.category10 {
  background: #a4c2f4;
}
.category11 {
  background: #34a853;
}
.category12 {
  background: #3d85c6;
}
.category13 {
  background: #ead1dc;
}
.category14 {
  background: #f3f3f3;
}
.category15 {
  background: #cccccc;
} */
