* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background 0.1s;
}
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: var(--text-middle);
  /* font-size: calc((100vw - 480px) / (1280 - 480) * (24 - 16) + 16px); */
  color: var(--color-text);
  background: var(--color-background);
}
select {
  padding-bottom: var(--unit);
  color: var(--color-text);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--color-border);
}
select option {
  color: #000;
  background-color: var(--color-text);
}
button {
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
}
a {
  color: var(--color-text);
  text-decoration: none;
}
input {
  padding: 0 var(--unit);
  font-size: var(--text-small);
  line-height: 2;
  color: var(--color-text);
  background-color: transparent;
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius-extra-small);
  transition: all 0.25s;
}
.container {
  max-width: var(--container-large);
  padding: 0 var(--padding-middle);
  margin: 0 auto;
}
.main {
  margin-top: calc(var(--unit) * 2);
}
.title {
  margin-top: calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  font-size: var(--text-extra-extra-large);
}
.categories__item_1 {
  color: #7011f5;
  background: rgb(112 17 245 / 0.1);
  border: 2px solid #7011f5;
}
.categories__item_2 {
  color: #f13d2e;
  background: rgb(95% 24% 18% / 0.1);
  border: 2px solid #f13d2e;
}
.categories__item_3 {
  color: #ffb703;
  background: rgb(98% 52% 0% / 0.1);
  border: 2px solid #ffb703;
}
.categories__item_4 {
  color: #e63946;
  background: rgb(90% 22% 27% / 0.1);
  border: 2px solid #e63946;
}
.categories__item_5 {
  color: #42b983;
  background: rgb(66 185 131 / 0.1);
  border: 2px solid #42b983;
}
.categories__item_6 {
  color: #2ec4b6;
  background: rgb(46 196 182 / 0.1);
  border: 2px solid #2ec4b6;
}
.categories__item_7 {
  color: #ffea00;
  background: rgb(100% 92% 0% / 0.1);
  border: 2px solid #ffea00;
}
.categories__item_8 {
  color: #fdffb6;
  background: rgb(253 255 182 / 0.1);
  border: 2px solid #fdffb6;
}
.categories__item_9 {
  color: #264de4;
  background: rgb(38 77 228 / 0.1);
  border: 2px solid #264de4;
}
.categories__item_10 {
  color: #75afcc;
  background: rgb(46% 69% 80% / 0.1);
  border: 2px solid #75afcc;
}
.categories__item_11 {
  color: #9e2a2b;
  background: rgb(62% 16% 17% / 0.1);
  border: 2px solid #9e2a2b;
}
.categories__item_12 {
  color: #78290f;
  background: rgb(47% 16% 6% / 0.1);
  border: 2px solid #78290f;
}
.categories__item_13 {
  color: #8e9aaf;
  background: rgb(56% 60% 69% / 0.1);
  border: 2px solid #8e9aaf;
}
.categories__item_14 {
  color: #f4e285;
  background: rgb(96% 89% 52% / 0.1);
  border: 2px solid #f4e285;
}
.categories__item_15 {
  color: #fb6f92;
  background: rgb(98% 44% 57% / 0.1);
  border: 2px solid #fb6f92;
}
:root.light-theme .categories__item {
}
.icon {
  width: var(--width-icon);
  height: var(--height-icon);
}
@media (width < 760px) {
  .container {
    padding: 0 var(--unit);
  }
}
